
<div class="container">
  <div class="row">
    <div class="col-md-4">

      <%= render 'layouts/list', user: current_user %>

      <h2>New book</h2>
      <%= form_with model: Book.new do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :opinion %>
      <p><%= f.submit 'Create Book' %></p>
      <% end %>
    </div>

    <div class="col-md-8">
      <h2>Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th><%= image_tag user.get_profile_image(40, 40) %></th>
            <th><%= user.name %></th>
            <th><%= link_to "show", user_path(user.id) %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


