<div class="container">
  <div class="row">
    <div class="col-md-4">

      <%= render 'layouts/list', user: @user %>

      <h2>New book</h2>
      <%= form_with model: Book.new do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :body %>
      <p><%= f.submit 'Create Book' %></p>
      <% end %>
    </div>

    <div class="col-md-8">
      <h2>Book detail</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <p><%= image_tag @user.get_profile_image(40, 40) %></p>
              <p><%= link_to user_path(@user.id) do %></p>
              <%= @user.name %>
              <% end %>
            </td>
            <td><%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %>
            </td>
            <td><%= @book.body %></td>
            <% if @user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
